<div class="container">
    <h1>Atualize suas informações!</h1>
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <div class="form-group">
        <input placeholder="Nome" type="text" class="form-control" [(ngModel)]="mentorDados.first_name" [ngModelOptions]="{standalone: true}" required>
      </div>
      <br>

      <div class="form-group">
        <input placeholder="Sobrenome" type="text" [(ngModel)]="mentorDados.last_name" [ngModelOptions]="{standalone: true}">
      </div>
      <br>

      <div class="form-group">
        <input placeholder="Universidade" type="text" [(ngModel)]="mentorDados.university" [ngModelOptions]="{standalone: true}">
      </div>
      <br><br>
      <button type="submit" class="btn btn-success">Enviar</button>

    </form>
