<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <div class="container">
    <div *ngFor="let userDeck of userDecks">

      <!-- If it is a mentor, it can see only himself-->
      <div *ngIf="userDeck.role_name == 'mentor' && userNickname == userDeck.username">
        <mat-card class="example-card">
            <div *ngFor="let mentorDeck of mentorDecks">
              <div *ngIf="userNickname == mentorDeck.username">
                <mat-card-header>
                  <mat-card-title>{{ mentorDeck.first_name + " " + mentorDeck.last_name }}</mat-card-title>
                
                </mat-card-header>

                <mat-card-content>
                   
                  </mat-card-content>
                  <mat-card-actions>
                    <button type="button" class="btn btn-block" routerLink="/mentor/listing/{{mentorDeck.id}}"><i class="fa fa-plus"></i>  Perfil</button>

                  </mat-card-actions>
              </div>
            </div>
          </mat-card>
        </div>

        <!-- If it is a mentee, it can see only its mentor-->
      <div *ngIf="userDeck.role_name == 'mentee' && userNickname == userDeck.username">
          <mat-card class="example-card">
              <div *ngFor="let menteeDeck of menteeDecks">
                <div *ngIf="userNickname == menteeDeck.username">
                  <div *ngFor="let mentorDeck of mentorDecks">
                    <div *ngIf="mentorDeck.id == menteeDeck.mentor_id">
                      <mat-card-header>
                        <mat-card-title>{{ mentorDeck.first_name + " " + mentorDeck.last_name }}</mat-card-title>
                        
                      </mat-card-header>

                      <mat-card-content>
                          <div id="mentorDeck">
                         
                          </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <button type="button" class="btn btn-block" routerLink="/mentor/detail/{{mentorDeck.id}}"><i class="fa fa-plus"></i>  Informações</button>

                        </mat-card-actions>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>

          <!-- If it is a admin, can see all mentors-->
          <div *ngIf="userDeck.role_name == 'admin' && userNickname == userDeck.username">
              <h1>Mentors</h1>
              <div class="content">
                    <mat-card class="example-card child" *ngFor="let mentorDeck of mentorDecks">
                      <mat-card-header>
                        <mat-card-title>{{ mentorDeck.first_name + " " + mentorDeck.last_name }}</mat-card-title>
                  
                      </mat-card-header>

                      <mat-card-content>
                          <div id="mentorDeck">
                       
                          </div>
                        </mat-card-content>
                        <mat-card-actions>
                          <button type="button" class="btn btn-block" routerLink="/mentor/listing/{{mentorDeck.id}}"><i class="fa fa-plus"></i>  Atualizar informações</button>

                        </mat-card-actions>
                      </mat-card>
                </div>
                
              </div>



      </div>
  </div>
</body>
</html>
