<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <header class="text-center py-5 mb-4">
    <div class="container">
      <h1>Praticar SAT</h1>
      <h3>Você tem só 60 minutos para fazer este simulado</h3>
    </div>
  </header>
  <div style="text-align: center">Tempo restante: <span id="time"><b>60:00</b></span> (minutos) <br>
    <button onclick="clock();" id="btn" class="btn btn-primary">Começar simulado</button>
  </div>
  <br>
  <iframe id="simulado" src="https://brasa468788.typeform.com/to/dCTIGt" style="visibility: hidden; width: 100%; height: 500px;"></iframe>
  <!-- <iframe id="my_typeform" src="" style="width: 100%; height: 500px;"></iframe> -->
</body>
</html>
