<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <div class="container">
    <mat-card class="example-card">
        <div *ngFor="let mentorDeck of mentorDeck">


          <div *ngIf="mentorDeck.id == mentorId">
              <mat-card-header>
                  <span class="first-column">
                      <mat-card-title>{{ mentorDeck.first_name + " " + mentorDeck.last_name }}</mat-card-title>
                  </span>

                  <span class="second-column">
                    <span *ngIf="mentorDeck['cycle'].region == 'Europa'">
                        <img src="//s3.amazonaws.com/brasaassets/pre_universitario/brasa_app/eu_flag.png" height="30" width="30">
                    </span>
                    <span *ngIf="mentorDeck['cycle'].region == 'Estados Unidos'">
                        <img src="//s3.amazonaws.com/brasaassets/pre_universitario/brasa_app/us_flag.png" height="30" width="30">
                    </span>
                  </span>
                </mat-card-header>

            <mat-card-content>
                <div id="mentorDeck">
                  <span ><strong>Universidade: </strong></span>
                  <span>{{ mentorDeck['university'].name }}</span>

                  <span *ngIf= "mentorDeck['major']"><hr><strong>Major: </strong>
                    <span>{{ mentorDeck['major'].name}}</span>
                  </span>

                  <span *ngIf= "mentorDeck['second_major']"><hr><strong>Segundo Major: </strong>
                    <span>{{ mentorDeck['second_major'].name}}</span>
                  </span>
                  <!-- <span>{{ mentorDeck['major'].category}}</span>
                  <br> -->
                  <span *ngIf= "mentorDeck['minor']"><hr><strong>Minor: </strong>
                    <span>{{ mentorDeck['minor'].name}}</span>
                  </span>

                  <span *ngIf= "mentorDeck['second_minor']"><hr><strong>Segundo Minor: </strong>
                    <span>{{ mentorDeck['second_minor'].name}}</span>
                  </span>

                  <!-- FixMe - get email from mentee.user.email! -->
                  <hr>
                  <span ><strong>Email: </strong></span>
                  <span>{{ mentorDeck.username }}@gobrasa.org</span>

                  <hr>
                  <div *ngFor="let mentee of mentorDeck['mentees']">
                      <span ><strong>Mentee: </strong></span>
                      <span><a routerLink="/mentee/listing/{{mentee.id}}">
                        {{mentee.first_name}} {{mentee.last_name}}
                      </a></span>
                      <hr>
                </div>



                </div>
              </mat-card-content>
              <mat-card-actions>
                <button type="button" class="btn btn-block" routerLink="/mentor/detail/{{mentorDeck.id}}"><i class="fa fa-plus"></i>  Informações</button>

              </mat-card-actions>
          </div>
        </div>
      </mat-card>
  </div>
</body>
</html>
