<div *ngIf="role=='mentee' || role=='admin'" class="container">
    <h1>Atualize suas informações!</h1>
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <div class="form-group">
        <input placeholder="Nome" type="text" class="form-control" [(ngModel)]="menteeDados.first_name" [ngModelOptions]="{standalone: true}" required>
      </div>
      <br>

      <div class="form-group">
        <input placeholder="Sobrenome" type="text" [(ngModel)]="menteeDados.last_name" [ngModelOptions]="{standalone: true}">
      </div>
      <br>

      <div class="form-group">
        <input placeholder="Cidade" type="text" [(ngModel)]="menteeDados.city" [ngModelOptions]="{standalone: true}">
      </div>
      <br>

      <div class="form-group">
        <input placeholder="Estado" type="text" [(ngModel)]="menteeDados.state" [ngModelOptions]="{standalone: true}">
      </div>
      <br>

      <mat-form-field>
        <mat-select [(value)]="menteeDados.financial_aid" placeholder="Precisa de financial aid ?">
          <mat-option [value]="true">Sim</mat-option>
          <mat-option [value]="false">Não</mat-option>
        </mat-select>
      </mat-form-field>
      <br><br>
      <button type="submit" class="btn btn-success">Salvar Informações</button>
    </form>
</div>
    <br>
    <div *ngIf="(role == 'mentee' || role == 'mentor' || role == 'admin') && userNickname == username">
      <h1>Informações do seu mentee!</h1>
      <br>
      <div class="form-group">
        Nome: {{menteeDados.first_name}} + {{menteeDados.last_name}}
      </div><br>
      <div class="form-group">
        Cidade: {{menteeDados.city}}
      </div><br>
      <div class="form-group">
        Estado: {{menteeDados.state}}
      </div><br>
      <div class="form-group">
        Financial Aid: {{menteeDados.financial_aid}}
      </div><br>


    </div>

    <button type="button" class="btn btn-primary" (click)="goBack()">
      Voltar
    </button>
