

.btn-wrapper {
    text-align: center;
}

#college_update{
    margin-bottom: 30px;
    width: 500px;
    margin: 30px auto;
}

.action{
    margin-top: 20px;
    height: 40px;
}

.voltar{
    margin-right: 30px;
    background: none;
    border: none;
    color: #9999;
    float: left;
}


.salvar{
    float: right;
    margin-right: 11px;
}

#exams_update{
    margin-bottom: 30px;
    width: 500px;
    margin: 30px auto;
}

#uploaded_essays{
    margin-bottom: 30px;
    width: 500px;
    margin: 30px auto;
}

.essay-listing{
    display: inline;
}

hr{
    margin-top: 5px;
    margin-bottom: 6px;
  }

.apagar{

    padding: 2px;
    float: right;
}
