.mat-card {
    max-width: 500px;
    margin: 40px auto;
}
    
#menteeDeck {
    margin-left: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .child {
    flex-grow: 1;
    flex: 1 1 35%;
    margin: 20px;
    max-width: 200px;
  }

  hr{
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .btn{
    background-color: rgb(55,136,203);
    color: white;
  }
  
  .btn:hover {
    color: white;
  }

  .action{
    margin-top: 20px;
    height: 10px;
}

.voltar{
    margin-right: 30px;
    background: none;
    border: none;
    color: #9999;
    float: left;
}

.mat-card-header{
  display: flex;
}

.first-column{
  margin-left:-33px;
  float: left;
  flex: 80%;
}