<mat-card class="example-card" *ngFor="let menteeDeck of menteeDecks">
  <mat-card-header>
    <mat-card-title>{{ menteeDeck.first_name + " " + menteeDeck.last_name }}</mat-card-title>
    <mat-card-subtitle>{{"Username: " + " " + menteeDeck.username }}</mat-card-subtitle>
  </mat-card-header>


  <mat-card-content>
    
    <div id="menteeDeck">
      
      <p>{{"Mentor ID: " + " " + menteeDeck.mentor_id }}</p>
      <p>{{"Cycle ID: " + " " + menteeDeck.cycle_id }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" class="btn btn-primary-outline pull-right" routerLink="/mentee/listing/{{menteeDeck.id}}"><i class="fa fa-plus"></i> Add</button>
  </mat-card-actions>
</mat-card>















