

.btn-wrapper {
    text-align: center;
}

#essay{
    width: 500px;
    height: 250px;
    margin: 29px auto;
}

.action{
    height: 30px;
    /* display: table-row-group; */
    margin-top: -6px;
}

.voltar{
    margin-top: 32px;
    float: left;
}

.voltar1{
    margin-top: 5px;
}

.salvar{
    margin-top: 32px;
    float: right;
    margin-right: 11px;
}

.apagar-btn{
    float: right;
}

.essay-listing{
    margin-top: 20px;
}

#uploaded_essays{
    margin-bottom: 30px;
    width: 500px;
    margin: 30px auto;
}

hr{
    margin-top: 5px;
    margin-bottom: 6px;
  }