<div class="container">
    <h1>Envie o link do Google Docs</h1>

    <form [formGroup]="todo" (ngSubmit)="logForm()">
        <input placeholder="Essay link" type="text" class="form-control" [(ngModel)]="link" [ngModelOptions]="{standalone: true}" required>
        <br><br>
      <br>

      <button type="submit" class="btn btn-success">Adicionar</button>

    </form>
</div>
<br>
<br>
<h1>Essays adicionadas:</h1>
<div *ngFor="let essay of essays">
  <div *ngIf="essay.username == userNickname">
      <span ><strong>Essay: </strong></span>
      <span>{{ essay.link }}</span>
      <button type="button" class="btn btn-primary" (click)="excludeEssay(essay.upload_id)">
        Apagar essay
      </button>
      <br>
      <br>

  </div>

</div>

    <br>
    <button type="button" class="btn btn-primary" (click)="goBack()">
      Voltar
    </button>
