<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header class="text-center py-5 mb-4">
  <div class="container">
    <h1>Guias e conteúdo</h1>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Guias</h2>
          <ul class="card-text">
            <li>College List</li>
            <li>Essays</li>
            <li>Recommendations</li>
            <li>E muito mais!</li>
          </ul>
        </div>
        <div class="card-footer">
          <a href="https://drive.google.com/drive/u/2/folders/15b5A1ocgQlJjUTCuUI6KULLGi5P1mgJy" class="btn btn-primary btn-sm">Acessar no Drive</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Conteúdo 2020/2021</h2>
          <ul class="card-text">
            <li>School Profile</li>
            <li>Tests</li>
            <li>Quarentena BRASA</li>
            <li>E muito mais!</li>
          </ul>
        </div>
        <div class="card-footer">
          <a href="https://drive.google.com/drive/u/2/folders/1o-7RqT6uN0Xl6l-EinpifHDSnYjUwRib" class="btn btn-primary btn-sm">Acessar no Drive</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Templates e Modelos</h2>
          <ul class="card-text">
            <li>School Profile</li>
            <li>Financial Aid docs</li>
            <li>E muito mais!</li>
          </ul>
        </div>
        <div class="card-footer">
          <a href="https://drive.google.com/drive/u/2/folders/1NSXw2PVJ3ln8DyDs-tYDU-RVWO0eJYLN" class="btn btn-primary btn-sm">Acessar no Drive</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->

  </div>
  <!-- /.row -->
</div>
</body>
</html>
