<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <div class="container">
    <div class="content">
        <div id="title">
          <div class="layer">
              <div id="header-links">
                
              </div>

              <div id="title-text">
                  <h1>Brasa Pré</h1>
                  <p>2019 | 2020</p>
              </div>
          </div>
          
        </div>
        <div id="info">
          <h1>O que é o BRASA PRÉ?</h1>
            <p>O BRASA PRÉ é um programa de mentoria gratuito que possui como missão auxiliar jovens brasileiros
            a realizarem o sonho de estudar nas melhores universidades do mundo. </p>

            <p>O programa é organizado pela BRASA, a Brazilian Student Association, uma organização sem fins lucrativos formada 
            por uma rede de mais de 4,000 estudantes na América do Norte, Europa e Ásia. 
            Somos hoje organização referência para quem almeja estudar, para quem estuda e para quem já estudou no exterior. 
            Saiba mais sobre nossas iniciativas em gobrasa.org</p>
        </div>




    </div>
    
  </div>
  <div id="footer"></div>
</body>
</html>