
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <div class="container">


      <div *ngIf="role== 'mentee' || role == 'admin'">
          <div id="exams_update" class="shadow-sm p-3 mb-5 bg-white rounded">
          <h1>Adicione suas provas!</h1>
        <form [formGroup]="todo" (ngSubmit)="logForm()">
          <div class="form-group">
              <angular2-multiselect
                                [data]="categories"
                                [(ngModel)]="category"
                                [settings]="settingsCategory"
                                (onSelect)="onCategorySelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                formControlName="categoryName"
                                >
                <c-item>
                  <ng-template let-item="item">
                    {{item.category}}
                  </ng-template>
                </c-item>
              </angular2-multiselect>
            </div>

        <div class="form-group">
          <angular2-multiselect
                                [data]="subCategories"
                                [(ngModel)]="subCategory"
                                [settings]="settingsSubCategory"
                                formControlName="subCategoryName"
                                >
                <c-item>
                    <ng-template let-item="item">
                      {{item.subcategory}}
                    </ng-template>
                </c-item>
          </angular2-multiselect>
        </div>


            <label class=" form-group">
                  <input class="form-control" placeholder="Data"
                        [min]="min" [max]="max"
                        [owlDateTimeTrigger]="dt"
                        [owlDateTime]="dt"
                        [(ngModel)]="dateTime"
                        formControlName="dateInput">
                  <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
              </label>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nota" [(ngModel)]="score" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="action">
              <button type="button" class="btn btn voltar btn-sm btn-info" (click)="goBack()">Voltar</button>
              <button type="submit" class="btn btn-sm btn-success salvar">Enviar</button>
          </div>

      </form>
      </div>
    </div>

   <div id="exams_update" class="shadow-sm p-3 mb-5 bg-white rounded">
    <h1>Provas adicionadas:</h1>
    <div *ngFor="let scheduledExam of scheduledExams">
      <div *ngIf="scheduledExam.mentee_id == menteeId">
        <div class="exam-list">
          <span ><strong>Prova: </strong></span>
          <span>{{ scheduledExam.exam.category }}</span>
          <hr>
          <span ><strong>Categoria: </strong></span>
          <span>{{ scheduledExam.exam.subcategory }}</span>
          <hr>
          <span ><strong>Nota: </strong></span>
          <span>{{ scheduledExam.score }}</span>
          <hr>
          <span ><strong>Data: </strong></span>
          <span>{{ scheduledExam.realization_date | date:"dd/MM/yyyy"}}</span>
          <br>
          <button *ngIf="role=='mentee' || role=='admin'"type="button" class="btn btn-danger apagar  btn-sm" (click)="excludeExam(scheduledExam.id)">
            Apagar prova
          </button>
      </div>
    </div>
    </div>
    <button type="button" class="btn btn  btn-sm btn-info" (click)="goBack()">Voltar</button>
  </div>
</div>
</body>
</html>
